.cart {
  padding: 2rem 4rem;
  @include flex(row, space-between, center, 4rem);
  height: calc(100vh - 4rem);

  > main {
    width: 70%;

    > h1 {
      @include heading(2px);
      text-align: center;
    }

    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  > aside {
    width: 30%;
    padding: 4rem;
    @include flex(column, center, stretch, 1.5rem);

    > input {
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.28);
      outline: none;
      border-radius: 5px;
      margin-top: 2rem;
    }

    > p {
      font-size: 1.2rem;
    }

    > a {
      background-color: $color3;
      color: $color1;
      text-decoration: none;
      padding: 1rem;
      @include flex;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
    > span {
      margin-top: -1rem;
      @include flex(row, center, center, 5px);
      > code {
        font-weight: 900;
        align-self: flex-end;
      }
    }
  }
}