.login {
  height: 90vh;
  @include flex(column);

  > main {
    width: 100%;
    height: 80%;
    max-width: 400px;
    padding: 2rem;
    @include baseShadow;
    @include flex(column, center, stretch );
    >div{
      width: 100%;
      @include flex(column,flex-start , stretch);
      >input,select{
        @include inputStyle;
        border:1px solid rgba(162,162,162,0.53);
        cursor: pointer;
        border-radius: 5px;
        font-family: "Segoe UI", Tahoma , Geneva, Verdana, sans-serif;
      }
      > p{
        text-align: center;
        margin:2rem
      }
      >button{
        width: 70%;
        margin:auto;
        height: 3rem;
        @include btn(unset, rgba(62, 125,242), white);
        @include flex;
        border:1px solid rgba(62, 125,242);
        border-radius: 5px;
        font-size: 1.05rem;
        >svg{
          background: white;
          width: 30%;
          height: 100%;
        }
        >span{
          width:100%;
          text-align: center;
        }
      }
    }
  }
}